body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f0f0f0;
}

.dropdown {
    display: flex;
    margin-top: 50px;
    margin-left: 20px;
}

.container-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
}

.card {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    padding: 20px;
    text-align: center;
    width: 100%;
    max-width: 300px;
    margin: 20px;
    box-sizing: border-box;
}

.avatar img {
    width: 100%;
    height: auto;
    max-height: 200px;
}

h2 {
    margin: 10px 0 5px;
    font-size: 1.5em;
    color: #333;
    align-items: center;
}

p {
    margin: 5px 0;
    color: #666;
}

.info {
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.info-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.info-item img {
    margin-right: 10px;
    width: 24px;
    height: 24px;
}

.info-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.info-text span {
    font-weight: bold;
}

/* button {
    background-color: #009669;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1em;
} */

button:hover {
    background-color: #20c056;
}

.online-status {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.online-status span {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #4caf50;
    border-radius: 50%;
    margin-right: 5px;
}
.offline-status {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.offline-status span {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #f70000;
    border-radius: 50%;
    margin-right: 5px;
}

.game-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    width: 350px;
    align-items: center;
    margin: 40px;
    display: flex;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Tambahkan efek bayangan */
    transition: box-shadow 0.3s ease; /* Tambahkan transisi untuk efek bayangan */
}

/* Tambahkan efek bayangan ketika hover */
.game-card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Atur tata letak konten dalam kartu */
.game-card-content {
    text-align: center;
}
.game-card-image-container {
    position: relative;
}

.game-card-image {
    margin-top: 10px;
    width: 95%;
    object-fit: cover;
    border-radius: 8px;
}

.description {
    padding: 10px;
    text-align: left;
    margin: 5px;
    gap: 12px;
    display: flex;
    flex-direction: column;
    color: #373b59;
    max-width: fit-content;
}
.description > .game-title {
    margin: 0;
    font-size: 18px;
    padding-left: 50px;
    text-align: center;
}
.description > .game-description {
    margin: 0;
    font-size: 14px;
}

.game-card:hover .description .game-title,
.game-card:hover .description .game-description,
.game-card:hover .release {
    color: white; /* Mengubah warna teks menjadi putih saat hover */
}
.game-card-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
    padding: 20px;
}
@media screen and (max-width: 600px) {
    .info {
        margin: 20px 0;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .info-item {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
    }

    .info-item img {
        margin-right: 10px;
        width: 24px;
        height: 24px;
    }

    .info-text {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .info-text span {
        font-weight: bold;
    }

    button {
        background-color: #009669;
        color: white;
        border: none;
        border-radius: 5px;
        padding: 10px 20px;
        cursor: pointer;
        font-size: 1em;
    }

    button:hover {
        background-color: #20c056;
    }

    .online-status {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    .online-status span {
        display: inline-block;
        width: 5px;
        height: 5px;
        background-color: #4caf50;
        border-radius: 50%;
        margin-right: 5px;
    }
    .offline-status {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    .offline-status span {
        display: inline-block;
        width: 10px;
        height: 10px;
        background-color: #f70000;
        border-radius: 50%;
        margin-right: 5px;
    }
    .description {
        padding: 10px;
        text-align: left;
        margin: 5px;

        display: flex;
        flex-direction: column;
        color: #373b59;
        max-width: fit-content;
    }
    .description > .game-title {
        margin: 0;
        font-size: 12px;
        padding-left: 10px;
        text-align: center;
    }
    .description > .game-description {
        margin: 0;
        font-size: 10px;
    }

    .game-card-button {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 10px;

        padding: 20px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .game-card {
        border: 1px solid #ccc;
        border-radius: 8px;
        width: 800px;
        align-items: center;
        margin: 40px;
        display: flex;
        background-color: #fff;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Tambahkan efek bayangan */
        transition: box-shadow 0.3s ease; /* Tambahkan transisi untuk efek bayangan */
    }

    /* Tambahkan efek bayangan ketika hover */

    /* Atur tata letak konten dalam kartu */
    .game-card-content {
        text-align: center;
    }
    .game-card-image-container {
        position: relative;
    }

    .game-card-image {
        margin-top: 10px;
        width: 95%;
        object-fit: cover;
        border-radius: 8px;
    }
}
